/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-Mar-2019, 23:55:38
    Author     : Henning
*/

@charset "UTF-8";

#topmenu
{

    background: #f2f3F4 ;
    padding-top: 20px;
    padding-bottom:0px;
    padding-right: 10px;
    padding-left: 20px;

    margin-right:0;
    margin-left: 85%;
    border-bottom: 5px black dotted #9CC0CC;   
    border-top: 5px thin dotted #9CC0CC;
    border-left: 5px thin dotted #9CC0CC; 
    border-right: 50px thin dotted #9CC0CC;


}

#topmenu:hover
{
    /*-webkit-filter: brightness(50%);*/
    /*-webkit-transform:  rotate(360deg);*/
    /*transform: rotate(360deg);*/
    border:0px solid #9CC0CC;
    background:lightgray;
    /*color:#FFF;*/
}



/*
html{
    font-family:sans-serif;
    font-size:100%;
    overflow-y:scroll;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -o-text-size-adjust:100%;
    text-size-adjust:100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,img,a,p,caption,blockquote,pre,table,tbody,th,tr,td,hr,address{
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    font-weight:normal;
    line-height:1;
    text-indent:0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
    display:block;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}


img{
    -ms-interpolation-mode:bicubic;
    vertical-align:middle;
}
img.link-img{
    padding-bottom:6px;
}
a img.link-img,.article-content img.link-img{
    border:none;
}
a:hover img.link-img{
    -webkit-transform:  rotate(360deg);
    transform: rotate(360deg);
}

 Basic
******************************************************
body{
    background:#FCFCFC;
    color:#999;
    font-family:'小塚ゴシック Pro', 'Kozuka Gothic Pro', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, 'メイリオ', Meiryo, sans-serif;
    font-size:14px;
}
a{
    color:#9CC0CC;
    text-decoration:none;
}
a:focus{
    outline:thin dotted #9CC0CC;
}
a:hover{
    color:#70AABB;
}
a:active{
    position:relative;
    top:1px;
}
blockquote{
    border: 1px solid #DDD;
    padding: 12px 32px 0;
    position: relative;
    margin: 8px 0;
} 
blockquote:before{
    content: "“";
    font-size: 400%;
    line-height: 1;
    font-family: Times New Roman, Century, sans-serif;
    color: #CCC;
    position: absolute;
    left: 0;
    top: 0;
}
blockquote:after{
    content: "”";
    font-size: 400%;
    line-height: 0;
    font-family: Times New Roman, Century, sans-serif;
    color: #CCC;
    position: absolute;
    right: 0;
    bottom: 0;
}
hr{
    border-bottom:1px solid #DDD;
    margin-bottom: 8px;
}


 Main
******************************************************
#page{
    min-width:264px;
    max-width:936px;
    margin:0 auto;
    padding:0 12px;
}
#userinfo
{
    padding: 20px;
}
#language{
    width:100%;
    height:32px;
    padding:2px 0;
}
#header{
    clear:both;
    width:100%;
    margin-bottom:12px;
}
#navigation{
    width:100%;
    margin-bottom:12px;
}
#content{
    clear:both;
    width:100%;
    margin-bottom:12px;
}
#footer{
    clear:both;
    border-top:1px solid #CCC;
    padding:8px 0;
    margin-bottom:12px;
}

 Common
******************************************************
.page-content{
    padding:0 8px;
}
.page-content p{
    margin-bottom:12px;
    line-height:1.6;
}
#menu-list a{
    width:264px;
    display:block;
    border:1px solid #CCC;
    color:#BBB;
    padding:8px;
    margin:0 auto;
    margin-bottom:12px;
    text-align:center;
}
#menu-list a:hover{
    border:1px solid #9CC0CC;
    background:#9CC0CC;
    color:#FFF;
}
h2#head-title{
    clear:both;
    display:block;
    margin-bottom:6px;
    padding:0 4px 2px;
    color:#888;
    text-align:center;
    line-height:1.2;
    font-size:16px;
}
h3.content-title{
    clear:both;
    display:block;
    margin-bottom:6px;
    border-bottom:1px solid #CCC;
    color:#888;
    text-align:center;
    line-height:1.2;
    font-size:18px;
}
h4.list-title{
    display:block;
    margin-bottom:10px;
    border-bottom:1px solid #DDD;
    color:#999;
    text-align:center;
    letter-spacing:1px;
    font-size:16px;
}

.waku {
    border: 1px solid #DDD;
    padding-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 12px;
}

.deadlink {
    display:none
}

 LightBox
******************************************************
#imageDetails, #helpDisplay {
    margin-bottom:4px;
    font-family:'Josefin Sans', 'Century Gothic', '小塚ゴシック Pro', 'Kozuka Gothic Pro', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', Verdana, sans-serif;
}
#titleText {
    letter-spacing: 1px;
    font-weight: normal;
    line-height:1.4;
    font-size: 16px;
    color:#CCC;
    padding-bottom:12px;
}
p#controls{
    margin-top:4px;
    text-align:right;
    font-size:16px;
}
span#helpDisplay{
    font-size:18px;
}
span.lightbox-dl{
    font-size:13px;
}
span#captionText{
    font-size:14px;
    font-weight:normal;
}
*/
