/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-03-2019, 11:43:37
    Author     : Emil PC
*/

body
{
    background-color: #E5E4E2;
}

h1
{
    text-align: center;
}

p
{
    text-align: center;
}

form
{
    text-align: center;
}